body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
  background-image: url('dacia...jpg');
}

header {
  background: #0a7cff;
  color: white;
  padding: 40px;
}

.btn, button {
  background: #0a7cff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cars {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.car {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.car img {
  width: 100%;
  border-radius: 8px;
}
table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background: #0a7cff;
  color: white;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
